.dd-single {
    margin-left: 10%;
    width: 82%;
}

.dd-double-left,
.dcc-input {
    margin-left: 10%;
    display: inline-block;
    width: 40%;
}

.dcc-input input {
    width: 90%;
    background-color: white !important;
    background-color: var(--bg-color) !important;
    color: black !important;
    color: var(--font-color) !important;
}

.dd-double-right {
    margin-left: 2%;
    display: inline-block;
    width: 40%;
}

.dd-smiles {
    width: 30%;
    display: inline-block;
    margin-left: 10%;
}

.slider-single {
    width: 88.5%;
    padding-left: 10%;
}

.color-rect {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.dcc-upload {
    width: auto;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    min-height: 1;
    padding: 2em 1em 2em 1em;
}

.dash-uploader {
    position: relative;
    display: inline-block;
    flex: 1;
    min-height: 1;
    align-self: stretch;
    min-width: 12em;
    margin: 0em;
    margin-bottom: auto;
    margin-top: auto;
}

.dash-uploader>* {
    margin: 1em;
    width: auto !important;
}

.main-svg {
    background-color: transparent !important;
}

.bg {
    fill: var(--graph-bg-color);
}

.ytick text,
.xtick text,
.g-xtitle text,
.g-ytitle text {
    fill: var(--font-color) !important;
}

.Select-control,
.Select-menu-outer {
    background-color: white !important;
    background-color: var(--bg-color) !important;
}

.Select-value-label {
    color: black !important;
    color: var(--font-color) !important;
}

.Select-placeholder {
    color: black !important;
    color: var(--placeholder-color) !important;
}

.tab.jsx-3201076643 {
    padding: 20px 25px 5px 25px;
}

.tab.jsx-3201076643.tab,
.tab.jsx-3201076643:last-of-type {
    background-color: transparent;
    border: none !important;
    border-bottom: 2px solid #45A29E !important;
    border-bottom: 2px solid var(--tab-underline) !important;
}

.tab.jsx-3201076643.tab:hover {
    border-bottom: 4px solid #C5C6C7 !important;
}

.tab.jsx-3201076643.tab.tab--selected {
    color: black !important;
    color: var(--font-color) !important;
    border-bottom: 4px solid rgb(214, 214, 214) !important;
    border-bottom: 4px solid var(--selected-tab-underline) !important;
}

.tab.jsx-3201076643.tab.tab--selected:hover {
    background-color: transparent;
}

.tab-content {
    padding: 10px;
}

.xgrid.crisp,
.ygrid.crisp,
.xzl.zl.crisp,
.yzl.zl.crisp {
    stroke: white !important;
    stroke-opacity: 1 !important;
    stroke-width: 1px !important;
}