body {
    min-width: 1200px;
    width: auto !important;
    background-color: #0B0C10;
    color: #66FCF1;
}

.control {
    width: 100%;
    display: inline-block;
    background-color: #1F2833;
    height: auto;
    border-radius: 8px;
}

.logo {
    text-align: center;
    margin: 20;
    color: #66FCF1;
}

.plots {
    display: inline-block;
    width: 32%;
}