body {
    min-width: 1200px;
    width: auto !important;
    background-color: #121212;
    color: white;
}

.control {
    width: 100%;
    display: inline-block;
    background-color: #212121;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 5px 0px hsla(0, 0%, 0%, 0.14),
        0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
        0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);
}

.logo {
    text-align: center;
    margin: 20;
    color: white;
}

.plots {
    display: inline-block;
    width: 32%;
}