:root {
    --font-color: black;
    --placeholder-color: #aaa;
    --body-bg-color: white;
    --control-bg-color: #dffcde;
    --graph-bg-color: #e5ecf6;
    --smiles-img-bg-color: white;
    --bg-color: white;
    --graph-stroke: white;
    --tab-underline: #adb5bd;
    --selected-tab-underline: #198754;
}

[data-theme="dark"] {
    --font-color: white;
    --placeholder-color: #a0aaba;
    --body-bg-color: #121212;
    --control-bg-color: #212121;
    --graph-bg-color: #1F2833;
    --smiles-img-bg-color: #e5ecf6;
    --bg-color: #212121;
    --graph-stroke: #3f3f3f;
    --tab-underline: #45A29E;
    --selected-tab-underline: #D6D6D6;
}

body {
    width: auto !important;
    color: black;
    color: var(--font-color);
    background-color: white;
    background-color: var(--body-bg-color);
}

.control {
    width: 100%;
    display: inline-block;
    background-color: #dffcde;
    background-color: var(--control-bg-color);
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 5px 0px hsla(0, 0%, 0%, 0.14),
        0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
        0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);
}

.logo {
    text-align: center;
    margin: 0;
    color: black;
    color: var(--font-color)
}

.logo>h1 {
    margin: 0.2rem;
}

#plots {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.plots {
    display: block;
    min-width: 20rem;
    flex: 1 1 32%;
    background-color: #dffcde !important;
    background-color: var(--control-bg-color) !important;
    border-radius: 8px;
    box-shadow: 0px 4px 5px 0px hsla(0, 0%, 0%, 0.14),
        0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
        0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);
    padding: 10px;
}

.smiles-img {
    width: 90%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--smiles-img-bg-color);
}